<div class="container">
    <div class="back-container">
        <div>
            <span class="back-button-sec" (click)="goBack()">
                <i class="fas fa-arrow-left"></i> Back
            </span>
        </div>
        <div>
        </div>
    </div>

    <div class="overview-section-container">
        <mat-card *ngFor="let item of allTask" class="team-member-card">
            <mat-card-header>
                <mat-card-title>{{ item.title }}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p class="overview-section-subtitle">{{ item.desctiption }}</p>
            </mat-card-content>
            <mat-card-actions class="completed-action">
                <div *ngIf="statusList.includes(item.status)" class="status-text">
                    <p class="overview-section-subtitle">{{ item.status }} <i class="fas fa-check-square"></i>
                    </p>
                </div>
                <button *ngIf="item.status!='In-Progress' && item.status!='Completed'" mat-button
                    (click)="onUpdate(item.subActivityId , 'In-Progress')">
                    <p class="completed-text">Mark As In-Progress <i class="far fa-thumbs-up"></i></p>
                </button>
                <button *ngIf="item.status!='Completed'" mat-button
                    (click)="onUpdate(item.subActivityId , 'Completed')">
                    <p class="completed-text">Mark As Completed <i class="far fa-thumbs-up"></i></p>
                </button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>