.heading {
  font-size: 90px;
  margin: 0rem;
  color: #7f74ef;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #f2f7fc;
}

.header-section-a {
  margin: 0rem 0rem 0em 3rem;
  flex: 1;
}

.header-section-b {
  flex: 2;

  @media (max-width: 900px) {
    display: none;
  }
}

@media (max-width: 900px) {
  .heading {
    font-size: 3rem;
    margin: 0rem;
    color: #7f74ef;
  }
  .header-section-a {
    margin: 0rem 0rem 0em 3rem;
    flex: 1;
  }

}

.sub-header-sec-a {
  width: 90%;
}

.header-button {
  color: #7f74ef;
}

.header-sec-button {
  margin: 2rem;
}

.image {
  width: 100%;
}