<div class="container">
  <div class="header-section-a">
    <div class="sub-header-sec-a">
      <h1 class="heading">Your Progress Perfectly tracked.</h1>
      <p>Your ultimate solution for monitoring, managing, and achieving project milestones with efficiency and ease.
      </p>
      <div class="header-sec-button">
        <button routerLink="/auth/signup" mat-stroked-button>
          <p class="header-button">Get Started</p>
        </button>
      </div>
    </div>
  </div>
  <div class="header-section-b">
    <img src="assets/images/progress-bar.png" alt="clock" class="image">
  </div>
</div>