<div class="container">
    <div class="profile-container">
        <div class="profile-picture-sec">
            <img class="profile-image" src="assets/images/profile1.webp" alt="">
            <div class="profile-image-content">
                <span> <i class="fas fa-check-circle"></i>
                    Ready For Challange</span>
            </div>
        </div>
        <div class="profile-content-sec">
            <!-- heading -->
            <p class="content-title">Fejin FM</p>
            <!-- icon -->
            <div class="icon-con">
                <span class="icon-sec"><a href="https://www.google.co.in/" target="_blank">
                        <i class="fas fa-globe icon-img"></i>
                    </a>
                </span>
                <span class="icon-sec"><a href="https://twitter.com/" target="_blank">
                        <i class="fab fa-twitter icon-img"></i>
                    </a>
                </span>
                <span class="icon-sec"><a href="https://instagram.com/" target="_blank">
                        <i class="fab fa-instagram icon-img"></i>
                    </a>
                </span>
                <button class="button_icon">
                    <a href="mailto:example@email.com">
                        <i class="fas fa-envelope icon-img"></i>
                    </a> Message</button>
                <button class="button_icon">
                    <a href="https://www.example.com" target="_blank">
                        <i class="fas fa-share-alt icon-img"></i>
                    </a> Share
                </button>
            </div>
            <!-- role -->
            <div class="role-sec">
                <div>
                    <p class="role-title">Role</p>
                    <p class="role-sub-title">Developer</p>
                </div>
                <div>
                    <p class="role-title">Experience</p>
                    <p class="role-sub-title">3 Years</p>

                </div>
            </div>
        </div>
    </div>
</div>