.sidenav-container {
    height: 100vh;
    background-color: #edf1f4;
}

i {
    color: #7f74ef;
}

mat-sidenav {
    background-color: #edf1f4;
}

.sidenav {
    border-radius: 1rem;
    width: 6rem;
    height: 90vh;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
}

.vertical-nav a {
    padding: 0rem;
    color: #000;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
}

.vertical-nav {
    margin-top: 1rem;
}

.vertical-nav-container {
    display: flex;
    flex-direction: column;
    gap: 8rem;
}

.horizontal-nav {
    display: none;
    justify-content: space-around;
    position: fixed;
    width: 90%;
    z-index: 100;
    top: 0;

    background: white;
    padding: 10px 0;
    border-radius: 0.5rem;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);

}

.horizontal-nav a {
    color: #000;
    text-decoration: none;
}



.icon {
    width: 3rem;
    cursor: pointer;
}

.hor-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

@media (max-width: 768px) {
    .sidenav {
        display: none;
    }

    .vertical-nav {
        display: none;
    }

    .horizontal-nav {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        background-color: #edf1f4;
    }
}

@media (min-width: 769px) {
    .sidenav {
        display: block;
        margin: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .vertical-nav {
        padding: 0rem;
        color: #000;
        text-decoration: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        background-color: #edf1f4;
    }

    .horizontal-nav {
        display: none;
    }
}