<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" opened class="sidenav">
    <!-- Vertical Navigation -->
    <nav class="vertical-nav-container">
      <div class="vertical-nav">
        <img src="assets/images/logo1.png" routerLink="/web" class="icon" alt="asas">
        <a routerLink="/webApp/home"><i class="material-icons">home</i></a>
        <a routerLink="/webApp/task-management"><i class="fa-solid fa-list-check"></i></a>
        <a routerLink="/webApp/schedule"><i class="fa-regular fa-calendar-days"></i></a>
        <a routerLink="/webApp/login"><i class="fa-solid fa-user"></i> </a>
        <a routerLink="/webApp/news"><i class="fa-solid fa-newspaper"></i> </a>
      </div>

      <div class="vertical-nav">
        <a routerLink="/webApp/login"><i class="fa-regular fa-message"></i> </a>
        <a routerLink="/webApp/login"><i class="fa-solid fa-gear"></i> </a>
        <a routerLink="/webApp/login"><i class="fa-solid fa-arrow-right-from-bracket"></i></a>
      </div>
    </nav>
  </mat-sidenav>

  <mat-sidenav-content>
    <!-- Horizontal Navigation -->
    <div class="hor-nav">
      <nav class="horizontal-nav">
        <img src="assets/images/logo1.png" routerLink="/web" class="icon" alt="asas">
        <a routerLink="/webApp/home"><i class="material-icons">home</i></a>
        <a routerLink="/webApp/task-management"><i class="fa-solid fa-list-check"></i></a>
        <a routerLink="/webApp/schedule"><i class="fa-regular fa-calendar-days"></i></a>
        <a routerLink="/webApp/login"><i class="fa-solid fa-user"></i> </a>
        <a routerLink="/webApp/login"><i class="fa-regular fa-message"></i> </a>
        <a routerLink="/webApp/news"><i class="fa-solid fa-newspaper"></i> </a>
        <a routerLink="/webApp/login"><i class="fa-solid fa-gear"></i> </a>
        <a routerLink="/webApp/login"><i class="fa-solid fa-arrow-right-from-bracket"></i></a>
      </nav>
    </div>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>