<div class="about-section">
    <div class="about-container">
        <div class="about-text">
            <h1>About Us</h1>
            <p>
                Welcome to <span class="app-name">Progress Tracker</span>, your ultimate companion
                for tracking and visualizing progress. We empower individuals and teams
                to monitor achievements, set goals, and gain insights through stunning
                visualizations like pie charts, flow charts, and modern data presentations.
            </p>
            <p>
                Built with cutting-edge technology, <span class="app-name">Progress Tracker</span>
                ensures a seamless experience to help you stay on top of your milestones.
                Let us be your guide to success!
            </p>
            <button routerLink="/auth/signup" mat-stroked-button>
                <p class="header-button">Learn More</p>
            </button>
        </div>
        <div class="about-image">
            <img src="assets/images/multi-step.png" alt="Progress Tracker Illustration" />
        </div>
    </div>
</div>