<app-web-header></app-web-header>
<div id="home" class="section">
    Home
    <app-web-home></app-web-home>
</div>

<div id="about" class="section">
    about
    <app-web-about></app-web-about>
</div>
<div id="team" class="section">
    team
    <app-web-team></app-web-team>
</div>

<div id="features" class="section">
    features
    <app-web-features></app-web-features>
</div>

<div id="contact" class="section">
    contact
    <app-web-contact></app-web-contact>
</div>
<app-web-footer></app-web-footer>