<div class="calendar">
    <div class="calendar-header">
        <button class="carousel-button" (click)="previousMonth()">&#8249;</button>
        <span>{{ monthNames[currentMonth] }} {{ currentYear }}</span>
        <button class="carousel-button" (click)="nextMonth()">&#8250;</button>
    </div>
    <div class="weekdays">
        <div *ngFor="let day of weekDays">{{ day }}</div>
    </div>
    <div class="days">
        <div *ngFor="let day of daysInMonth" [class.empty]="!day">
            <span *ngIf="day">{{ day }}</span>
        </div>
    </div>
</div>