@use '@angular/material' as mat;
@use './global-styles/theme.scss';

html {
  // Customize the entire app. Change :root to your selector if you want to scope the styles.

  @include mat.theme((color: (theme-type: light,
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    ));
}

html,
body {
  height: 100%;
  background-color: #edf1f4;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;

  /* width */
  ::-webkit-scrollbar {
    width: 0.5rem;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 1rem;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #7f74ef;
    border-radius: 1rem;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #7f74ef;
  }
}

button {
  margin: 0.2rem;
}