.dialog-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    min-width: 16rem;
    height: 100%;
    margin: 1rem;
}

.dialog-header h2 {
    margin: 0;
    font-size: 1.5rem;
}

mat-icon {
    color: #888;
    cursor: pointer;
    transition: color 0.3s ease;
}

mat-icon:hover {
    color: #7f74ef;
}

.action-button:hover {
    background-color: #888;
}

.action-button {
    padding: 0.5em;
    color: #7f74ef;
    border-color: #7f74ef;
    border-radius: 3rem;
    background-color: white;
}

.add-task-template {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.add-task-template-array {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 1rem;
}

.add-task-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.date-input-fields {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    width: 90%;
}

.delete-disable {
    display: none;
}

.date-input-fields {
    ::ng-deep .mat-mdc-icon-button {
        color: #7f74ef;
    }

    ::ng-deep .date-input {
        max-width: 50% !important;
    }

}

.save-button {
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 95%;
}

.delete-icon,
.data-picker-icon {
    color: #7f74ef;
}

@media (max-width: 769px) {
    .add-task-template {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .add-task-template-array {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 80%;
    }

    .date-input-fields {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 100%;
    }

    .date-input-fields {
        ::ng-deep .date-input {
            max-width: 100% !important;
        }

    }

}