<div class="container">
    <div class="home-header">
        <div class="profile-container">
            <div class="welcome-section">
                <div class="profile">Hi</div>
                <div class="welcome-message-section">
                    <p class="welcome-message">Welcome to My Profile!</p>
                    <p class="user-info">Hi, I'm {{ name }}. I love creating responsive designs and building awesome web
                        experiences!</p>
                </div>
            </div>


            <div class="header-action">


                <div class="search-box">
                    <input type="text" class="search-input" placeholder="Search here..">
                    <a class="search-btn" href="#">
                        <i class="fas fa-search"></i>
                    </a>
                </div>

                <div class="search-box">
                    <button (click)="addTask()">
                        <p class="add-task-button">Add Task</p>
                    </button>
                    <i class="fa-solid fa-plus search-btn"></i>
                </div>

            </div>

        </div>

    </div>