.profile-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.welcome-message {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #333;
}

.welcome-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
    gap: 1rem;
}

.profile {
    background-color: yellow;
    border-radius: 10rem;
    width: 3rem;
    height: 3rem;
    padding: 2rem;
    display: flex;
    align-items: center;
}

.welcome-message-section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%;
}

.user-info {
    color: #555;
    font-size: 0.9em;
    margin: 0;
}

.task-icon {
    padding: 0.3rem;
    border-radius: 5rem;
    color: #7f74ef;
    background-color: white;
    margin-right: 1rem;
}

button {
    background-color: #7f74ef;
    height: 3rem;
}

.header-button {
    color: white;
    width: 7rem;
}

.home-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 2rem;

}

@media (min-width: 768px) {
    .welcome-message {
        font-size: 1.5em;
    }

    .container {
        margin-left: 2rem;
    }
}


@media (max-width: 769px) {
    .container {
        margin-top: 4rem;
    }

    .welcome-section {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        gap: 1rem;
    }

    .home-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        margin: 5rem 0rem 0rem 1rem;

    }
}