.profile-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.welcome-message {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #333;
}

.welcome-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
    gap: 1rem;
}

.profile {
    background-color: #7f74ef;
    border-radius: 10rem;
    width: 3rem;
    height: 3rem;
    padding: 2rem;
    display: flex;
    align-items: center;
}

.welcome-message-section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%;
}

.user-info {
    color: #555;
    font-size: 0.9em;
    margin: 0;
}


button {
    background-color: #7f74ef;
    height: 3rem;
    border: none;
    border-radius: 10rem;
    cursor: pointer;
}

.header-button {
    color: white;
    width: 7rem;
}

.home-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 2rem;

}

/* div */
.search-box {
    background: #7f74ef;
    height: 3rem;
    border-radius: 26rem;
    padding: 0.2rem;
}

/* input */
.search-input {
    outline: none;
    border: none;
    background: none;
    width: 0;
    padding: 0;
    color: #fff;
    float: right;
    font-size: 16px;
    transition: .3s;
    line-height: 40px;
}

.search-input::placeholder {
    color: white;
}

/* icon */
.search-btn {
    color: white;
    float: right;
    width: 3rem;
    height: 3rem;
    border-radius: 50px;
    background: #7f74ef;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: .5s;
}

.search-input:focus,
.search-input:not(:placeholder-shown) {
    width: 10rem;
    padding: 0 0.4rem;
}

.search-box:hover>.search-input {
    width: 10rem;
    padding: 0 0.4rem;
}

.search-box:hover>.search-btn,
.search-input:focus+.search-btn,
.search-input:not(:placeholder-shown)+.search-btn {
    background: white;
    color: #7f74ef;
}

.add-task-button {
    border: none;
    color: white;
}

.header-action {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 1rem;
}

@media (min-width: 768px) {
    .welcome-message {
        font-size: 1.5em;
    }

    .container {
        margin-left: 2rem;
    }
}


@media (max-width: 769px) {
    .container {
        margin-top: 4rem;
    }

    .welcome-section {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        gap: 1rem;
    }

    .home-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        margin: 5rem 0rem 0rem 1rem;

    }
}