<div class="container">
    <!-- header section -->
    <div class="home-header">
        <div class="profile-container">

            <div class="welcome-section">
                <!-- <div class="profile"> -->
                <div>
                    <img class="profile-image" [src]="profileUrl" alt="">
                    <!-- <img class="profile-image" src="assets/images/profile1.webp" alt=""> -->
                </div>
                <div class="welcome-message-section">
                    <p class="welcome-message">Hi, {{ name }} 👋</p>
                    <p class="user-info">Welcome! Let's make today awesome.</p>
                </div>
            </div>

            <div class="header-action">
                <div class="search-box">
                    <input type="text" class="search-input" placeholder="Search here..">
                    <a class="search-btn">
                        <i class="fas fa-search"></i>
                    </a>
                </div>

                <div class="search-box">
                    <button (click)="addTask()">
                        <p class="add-task-button">Add Task</p>
                    </button>
                    <i class="fa-solid fa-plus search-btn" (click)="addTask()"></i>
                </div>

                <div class="notification-container">
                    <!-- Bell Icon -->
                    <button class="bell-icon" (click)="toggleSidebar()">
                        <i class="fa fa-bell"></i>
                        <span class="notification-count" *ngIf="notifications.length">{{ notifications.length }}</span>
                    </button>

                    <!-- Right Sidebar -->
                    <div class="side-nav" [class.open]="isSidebarOpen">
                        <div class="side-nav-header">
                            <h3>Inbox</h3>
                            <button class="close-btn" (click)="toggleSidebar()">×</button>
                        </div>
                        <div class="side-nav-content">
                            <ul>
                                <li *ngFor="let notification of notifications">
                                    <p>{{ notification }}</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>


            </div>


        </div>
    </div>

    <!-- overview section -->
    <div class="container">
        <div class="overview-section-container">
            <mat-card *ngFor="let item of overview" class="team-member-card">
                <mat-card-header>
                    <mat-card-title>{{ item.count }}</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p class="overview-section-subtitle">{{ item.title }}</p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>

    <!-- Projress Overview -->
    <div class="container">
        <!-- Carousel Content and Buttons -->
        <div class="carousel-content-sec">
            <div>
                <h5>Progress Overview</h5>
            </div>
            <div class="carousel-buttons">
                <button class="carousel-button" (click)="prevSlide()">&#8249;</button>
                <button class="carousel-button" (click)="nextSlide()">&#8250;</button>
            </div>
        </div>
        <!-- Carousel Content -->
        <div class="carousel-content">
            <div class="carousel-item" *ngFor="let item of visibleItems">
                <div class="carousel-item-container">
                    <div>
                        <h4>{{item.title}}</h4>
                    </div>
                    <div class="carousel-item-content">
                        <div>
                            <div class="carousel-item-content-sec">
                                <p>Task</p>
                                {{item.subTitle}}
                                <div class="avatar-group">
                                    <!-- Loop through avatars -->
                                    <div class="avatar" *ngFor="let avatar of avatars; let i = index"
                                        [style.zIndex]="avatars.length - i"
                                        [style.marginLeft]="i !== 0 ? '-15px' : '0'">
                                        <ng-container *ngIf="avatar.imageUrl; else initialsTemplate">
                                            <img [src]="avatar.imageUrl" alt="Avatar" class="avatar-image" />
                                        </ng-container>
                                        <ng-template #initialsTemplate>
                                            <span class="avatar-initials">{{ avatar.initials }}</span>
                                        </ng-template>
                                    </div>
                                    <!-- Add New Avatar -->
                                    <div class="avatar add-avatar" (click)="addTask()">
                                        +
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <!-- progress-circle -->
                            <div class="progress-circle-container">
                                <svg class="progress-circle" viewBox="0 0 36 36">
                                    <!-- Background Circle -->
                                    <circle class="progress-bg" cx="18" cy="18" r="16"></circle>
                                    <!-- Progress Circle -->
                                    <circle class="progress" cx="18" cy="18" r="16"
                                        [attr.stroke-dasharray]="item.circumference"
                                        [attr.stroke-dashoffset]="item.strokeDashoffset"></circle>
                                </svg>
                                <div class="progress-text">{{ item.progress }}% <p class="progress-p">{{
                                        item.tasks.length }}Task</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- chart -->
    <div class="chart-main-container">
        <!-- Bar chart  -->
        <div class="chart-container">
            <h5>Task Progress</h5>
            <mat-card class="team-member-card">
                <div class="chart-card-title">
                    <div *ngFor="let item of chartHeaderData">
                        <h4>{{item.time}}h</h4>
                        <p class="chart-p">{{item.title}}</p>
                    </div>
                </div>
                <mat-card-content>
                    <canvas id="myChart" #barCanvas></canvas>
                </mat-card-content>
            </mat-card>
        </div>

        <!-- Daily Task -->
        <div class="daily-task-container">
            <h5>Daily Task</h5>
            <mat-card class="team-member-card">
                <mat-card-content class="daily-task-content">
                    <div *ngFor="let item of dailyTaskData">

                        <div class="daily-task-sec-time">
                            {{item.time}}am
                        </div>
                        <div class="daily-task-sec">
                            <div>
                                <p class="daily-task-p">{{item.title}}</p>
                            </div>
                            <div>
                                <p class="daily-task-p">{{item.startTime}}to {{item.endTime}}</p>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>


</div>