<mat-toolbar class="web-header">
  <img src="assets/images/tracker.png" class="icon" alt="asas">
  <span class="web-header-spacer"></span>
  <span class="a-tab">
    <span> <a href="web#home" class="a-text">Home</a></span>
    <span> <a href="web#about" class="a-text">About</a></span>
    <span> <a href="web#team" class="a-text">Team</a></span>
    <span> <a href="web#features" class="a-text">Features</a></span>
    <span> <a href="web#contact" class="a-text">Contact</a></span>
  </span>
  <span class="web-header-spacer"></span>
  <button routerLink="/auth/login" mat-stroked-button>Log in</button>
  <button routerLink="/auth/signup" mat-stroked-button>Sign up</button>
</mat-toolbar>