<div class="container">
  <div class="logo">
    <img src="assets/images/logo1.png" routerLink="/web" class="icon" alt="asas">
  </div>
  <div class="tabs">
    <div class="tab-logo">
      <img src="assets/images/logo1.png" routerLink="/web" class="icon" alt="asas">
    </div>
    <span> <a href="web#home" class="a-text">Home</a></span>
    <span> <a href="web#about" class="a-text">About</a></span>
    <span> <a href="web#team" class="a-text">Team</a></span>
    <span> <a href="web#features" class="a-text">Features</a></span>
    <span> <a href="web#contact" class="a-text">Contact</a></span>
  </div>
  <div class="buttons">
    <button routerLink="/auth/login" mat-stroked-button>Log in</button>
    <button routerLink="/auth/signup" mat-stroked-button>Sign up</button>
  </div>
</div>