.icon {
    height: 5rem;
}

a {
    text-decoration: none;
    color: #7f74ef;
}

.a-tab span a:hover {
    border: solid 1px;
    border-radius: 30px;
    padding: 5px;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #f2f7fc;
    align-items: center;
    padding: 0.5rem;
}

.tabs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}

.tab-logo {
    display: none;
}

@media (max-width: 600px) {
    .container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        background-color: #f2f7fc;
    }

    .logo {
        display: none;
    }

    .tab-logo {
        display: contents;
    }

    .icon {
        height: 1.5rem;
    }

}